<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HTML Parser</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <h3 class="my-3">Введи необработаный HTML</h3>
  <div>
    <form th:object="${HTMLWrapper}" th:action="@{/parsing}" method="post">
      <textarea rows="10" class="form-control" th:field="*{htmlText}">
      </textarea>
      <button class="my-3 btn btn-primary" type="submit">Обработать</button>
    </form>
    <div th:if="${!resultText.isEmpty()}">
      <h2>Результат</h2>
      <p th:text="${resultText}"></p>
    </div>
  </div>
</div>

</body>
</html>