<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HTML Parser</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/parser.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <h3 class="my-3">Введи необработаный HTML</h3>
  <div>
    <form th:object="${HTMLWrapper}" th:action="@{/parsing}" method="post">
      <textarea rows="10" class="form-control" th:field="*{htmlText}">
      </textarea>
      <button class="my-3 btn btn-primary" type="submit">Обработать</button>
      <button formaction="/img-text" class="my-3 btn btn-warning" type="submit">Обработать картинку</button>
    </form>
    <div th:if="${!firstText.isEmpty()}">
      <span class="result">Результат</span>
      <button class="btn btn-sm btn-outline-secondary" type="button" id="copy-button">Копировать</button>
      <span class="success-text">✔ Скопировано успешно</span>
      <p class="my-3" th:text="${firstText}" id="first-text"></p>
      <p th:each="sText, itr : ${secondText}" class="my-1 second-text" th:text="|${itr.count}. ${sText}|"></p>
    </div>
  </div>
</div>

<script th:if="${!firstText.isEmpty()}" src="/js/parser.js"></script>

</body>
</html>