<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HTML Parser</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/parser.css}" rel="stylesheet">
</head>
<body>

<div class="container">
  <h3 class="my-3">Введи необработанный HTML</h3>
  <div>
    <form th:object="${HTMLWrapper}" th:action="@{/parsing}" method="post">
      <textarea rows="10" class="form-control" th:field="*{htmlText}">
      </textarea>
      <div class="buttons">
        <button formaction="/parsing-with-tesseract" class="my-3 btn btn-primary" type="submit">Обработать с Tesseract</button>
        <button formaction="/parsing-with-google" class="my-3 btn btn-warning google" type="submit">Обработать с Google</button>
        <button class="my-3 btn btn-light only-html" type="submit">Только html</button>
      </div>
    </form>
    <div th:if="${not #strings.isEmpty(firstText) or not #strings.isEmpty(imgText)}">
      <span class="result">Результат</span>
      <button class="btn btn-sm btn-outline-secondary" type="button" id="copy-button">Копировать</button>
      <span class="success-text">✔ Скопировано успешно</span>
      <p class="my-3" th:text="${firstText}" id="first-text"></p>
      <p class="my-3" th:text="${imgText}" id="img-text"></p>
      <p th:each="sText, itr : ${secondText}" class="my-1 second-text" th:text="|${itr.count}. ${sText}|"></p>
    </div>
  </div>
</div>

<script th:if="${not #strings.isEmpty(firstText) or not #strings.isEmpty(imgText)}" src="/js/parser.js"></script>

</body>
</html>